# OS Cache Files #
##################
.DS_Store
Thumbs.db
.SyncID
.SyncIgnore

# Editor & IDE Files #
######################
*.sublime-project
*.sublime-workspace
.*.swp

# Don't accidentally commit these #
###################################
/env
/build/environment
config.json
*.pem

# Build artifacts #
###################
/pkg/bindata_buildpacks/data/buildpacks_data.go
/shipbuilder/shipbuilder-*
/build/darwin
/build/linux
/build/shipbuilder
/dist

