# OS Cache Files #
##################
.DS_Store
Thumbs.db
.SyncID
.SyncIgnore

# Editor & IDE Files #
######################
*.sublime-project
*.sublime-workspace
.*.swp

# Untracked Directories #
#########################
bin/
env/
/shipbuilder/shipbuilder-*
/build/darwin
/build/linux
/build/shipbuilder
/build/environment
/dist
config.json
*.pem

